git --git-dir=/home/fuzzmz/pelican/qwerty/fuzzmz.github.com/.git --work-tree=/home/fuzzmz/pelican/qwerty/fuzzmz.github.com add . && git --git-dir=/home/fuzzmz/pelican/qwerty/fuzzmz.github.com/.git --work-tree=/home/fuzzmz/pelican/qwerty/fuzzmz.github.com commit -a -m "REPLACE" &&  git --git-dir=/home/fuzzmz/pelican/qwerty/sources --work-tree=/home/fuzzmz/pelican/qwerty/content push github master:sources