git --git-dir=/home/fuzzmz/pelican/qwerty/fuzzmz.github.com/.git --work-tree=/home/fuzzmz/pelican/qwerty/fuzzmz.github.com add . && git --git-dir=/home/fuzzmz/pelican/qwerty/fuzzmz.github.com/.git --work-tree=/home/fuzzmz/pelican/qwerty/fuzzmz.github.com commit -m "REPLACE" && git --git-dir=/home/fuzzmz/pelican/qwerty/fuzzmz.github.com/.git --work-tree=/home/fuzzmz/pelican/qwerty/fuzzmz.github.com push origin master
